# build outputs
/dist/*
/build/*
/lib/PyYAML.egg-info/*
/wheelhouse/*
/yaml/_yaml.c
MANIFEST
**/*.so
**/*.dylib
**/*.pyd
.pytest_cache/
PyYAML*/
/libyaml/

# cached Python binaries
*.py[cdo]
_pycache_/*
.package.lock
.tox/
.tmp/
.mypy_cache/
.pytest_cache/
.jython_cache/

.DS_Store

out.txt
