#
# Generated or temporary files to ignore in PyYAML package
#

# Build outputs
/dist/*
/build/*
/lib/PyYAML.egg-info/*
/wheelhouse/*
/yaml/_yaml.c
MANIFEST
**/*.so
**/*.dylib
**/*.pyd
.pytest_cache/
PyYAML*/
/libyaml/

# Cached Python binaries
*.py[cdo]
_pycache_/*
.package.lock
.tox/
.tmp/
.mypy_cache/
.pytest_cache/
.jython_cache/

# This should be local to the current user as it varies by platform
.python[_-]version

.DS_Store

out.txt
